<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome To SportyShoes</title>
</head>
<head>
    
<body>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />

   <h1>Welcome To SportyShoes</h1>
   <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-info" value="Logout" />
    </form>
 
        <br></br>
    <a href="http://localhost:8080/products"> View ProductList</a>
    
</body>
</html>